dl
x86_64-pc-linux-gnu
autom4te.cache
aclocal.m4
configure
Makefile.in
Makefile
atlocal
atconfig
config.status
config.log
.deps
.dirstamp
stamp-h1
*.o
*~
testsuite
testsuite.log
package.m4
build-aux
meagre-crowd
src/config.h
tests/file
tests/hello-umfpack
tests/helloworld-mpi
tests/helloworld-mumps
tests/mumps-file
tests/unit-perftimer
