dl
x86_64-pc-linux-gnu
autom4te.cache
configure
Makefile
atlocal
atconfig
config.status
config.log
.deps
.dirstamp
stamp-h1
*.o
*~
testsuite
testsuite.log
package.m4
meagre-crowd
tests/file
tests/hello-umfpack
tests/helloworld-mpi
tests/helloworld-mumps
tests/mumps-file
tests/unit-perftimer
